body {
    background-color: black;
    color: yellow;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

.card {
    box-shadow: 0, 4px, 8px, 0 rgb(90, 0, 0);
    background-color: white;
    transition: 1s;
    border-radius: 20px;
    padding: 20px;
    color:black;
    padding: 10px;
}

.card:hover {
    color: yellow;
    background-color: blue;
}

.row {
    padding: 10px;
}